footer {
    background-color: #f2f2f2; 
    margin: 0;
    padding: 0 5% 0 5%;
    padding-top: 50px;
    padding-bottom: 40px;
}

footer ul {
    padding: 0; 
    font-weight: 500;
}

footer h2 {
    padding-bottom: 10px;
    margin: 0;
} 

footer li {
    padding-bottom: 15px;
}


@media all and (min-width: 750px) and (max-width: 1390px) { /* tablette*/

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    footer div {
        padding: 0px 200px 0px 0px;
    }

}


@media all and (min-width: 1390px) { /* desktop*/

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    footer div {
        padding: 0px 200px 0px 0px;
    }

}