 .border { 
    border: 3px solid black;
    margin: 2px;
} 

.red {
    border-color: red;
}

.blue {
    border-color: blue;
} 

body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    min-width:320px;
}


header{
    color:#0065fc;
}


#top h3 {
    font-weight: 700;
}


nav ul { /*si je chqnge pour .navigation ce n'et plus flex row.... */
    display: flex; /* aligne la liste du nav */
    justify-content: space-around; 
    align-items: center;
    padding: 0; /* résout problème du padding de la liste par défaut*/    
    
}

nav li { 
    list-style: none;  /*enlève points liste -- pas specifique au media query*/ 
    /*margin: 20px;*/
}

.navigation a { 
    text-decoration: none; /*enlève surlignage liens -- pas specifique au media query*/
    font-weight: 500;
    color: black;  
}

.navigation a:hover { /*change apparence quand survol et quand on a cliqué pas : focus ??*/
    border-bottom: solid 3px #0065fc;
    color: #0065fc;
}


@media all and (max-width:992px) { /*mobile et tablette car pas ergonomique sinon*/

    header {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        flex-wrap: wrap; /* si pas mis s'incrire sur meme ligne que nav*/
    }

        header > .navigation { /*le nav se situe en position 3 ? utile? si j'enlève ça casse les tailles de blocs*/
            order : 3;
        }

    .navigation {
        width: 100%;/* pour que contenu de nav prennet 50%*/
        /*flex: 1;*/
    }

    /*.navigation li {
        flex: 1; /*les li prennent bien 50% du nav mais juste en largeur ???*/
      /*  border-bottom: solid 3px #f2f2f2;*/
       /* padding-bottom: 15px; */
    
   

    .navigation a {
        flex: 0.5; /* le a fait bien 0.5 en largeur et hauteur sans besoin de mettre un height à nav*/
        padding-bottom: 10px; /*si j'enlève le padding les boite li et a font la même hauteur tout ok*/  
        border-bottom: solid 3px #f2f2f2; 
        text-align: center;
        
    } 
  
}

@media all and (min-width:992px) /* desktop*/
{
    header {
        display: flex;
        justify-content: space-between;
        align-items: center; 
    
    }

    header > #signUp {  /*flex blox changer l'ordre des élements "sinscrire doit se situer à la fin donc order3*/
        order: 3;
    }


    /*.navigation {
        width: 100%;/* pour que contenu de nav prennet 50%*/
        /*flex: 1;
    }*/
    .navigation a {
        flex: 0.5; /* le a fait bien 0.5 en largeur et hauteur sans besoin de mettre un height à nav*/
        padding: 15px 10px 0 10px; /*si j'enlève le padding les boite li et a font la même hauteur tout ok*/  
        border-top: solid 3px #f2f2f2; 
        text-align: center;
        
    } 


   /* #top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        } */

    /*#logo {
        padding: 20px;
    }*/

    /*nav a {
       padding-left: 30px;
        border-top: solid 3px #f2f2f2;
    }*/
}