#signUp {
    color:#0065fc;
}

.navigation {
    font-weight: 600;
    font-size: 1.1em;
}

.navigation ul { 
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    padding: 0;   
    margin: 0;
}


@media all and (max-width:750px) { /*mobile */

   #logo {
        position: absolute;
        top: 25px;  
        left: 5%;
    }

    .navigation {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #signUp {
        text-align: end;
        margin: 40px 0 0 0;
    }

    .navigation ul{
        margin-top: 40px;
    }

    .navigation li {
        flex: 0.5; 
        padding-bottom: 15px;   
        border-bottom: solid 3px #f2f2f2; 
        text-align: center;
    } 
  
    .navigation li:hover { 
        border-bottom: solid 3px #0065fc;
    }

    .navigation a:hover { 
        color: #0065fc;
    }

}


@media all and (min-width:750px) { /* tablette et desktop*/

    header {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end; 
        padding: 0 5% 0 5%;
    }

    #logo {
        position: absolute;
        top: 35px;  
        left: 25px;
    }
    .navigation > #signUp { 
        order: 3;
    }

    .navigation {
        display: flex;
        align-items: baseline;
    }

    .navigation li {
        flex: 0.5; 
        padding: 45px 15px 0 15px;  
        border-top: solid 3px white; 
        text-align: center;  
    } 

    .navigation li:hover { 
        border-top: solid 3px #0065fc;
    }

   .navigation a:hover { 
        color: #0065fc;
    }
    
    #signUp {
        padding: 25px 0 0 15px;
    }


}


@media all and (min-width: 1390px) { /* desktop*/

    header{
        position: relative;
        padding:0;
    }

    #logo {
        position: absolute;
        top: 35px;   
        left: 0px;
    }
}