/*.border { 
    border: 1px solid black;
    margin: 0px;
} 

.red {
    border-color: red;
}

.blue {
    border-color: blue;
}

.orange {
    border-color: orange;
}

.purple {
    border-color: purple;
} */

body{
    margin: 0;
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
  
   
}

#container {
    min-width:415px; 
    max-width: 1500px; /* pb page non centrée*/
}

 h1 {
    font-weight: 800;
    font-size: 1.3em;
}

#search p {
    font-weight: 500;
    font-size: 0.9em;
}

a { 
    text-decoration: none; /*enlève surlignage liens*/
    color: black;  
}

h2 {
    font-size: 1.1em;
    font-weight: 700;
    padding-right: 15px;
}

/* -----------------  champ de recherche --------------------- */



#champ {
    display: flex;
    align-items: center; 
}

#champ button {
    background-color: #0065fc;
    padding: 18px;
    border: none;
    position: relative;
    top: 0px; left: -15px;
    color: white;
}

#button_mobile {
    border-radius: 15px;
}

#button_desktop {
    border-radius: 0 15px 15px 0;
     font-weight: 600;

}

.fa-search { 
    color: white;
    font-size: 1.2em;
}

.fa-map-marker-alt {
    background-color: #f2f2f2;
    padding: 18px; 
    border-radius: 15px 0 0 15px;
}

#champ input {
    font-weight: 800;
    font-size: 1.2em;
    font-family: "Raleway", sans-serif;
    padding: 15px 0 15px 15px;
    border: solid #f2f2f2 thin;
    margin: 0;  
    width: 220px;
}


/* -------------- Filters ----------------- */



#buttons_all {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}



#buttons_all button {
    background-color: white;
    border: solid 2px #d9d9d9;
    border-radius: 30px ;
    padding-right: 5px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filters i { 
    color: #0065fc;
    background-color: #deebff ;
    height: 45px; /* change taille du background color */
    width: 45px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: -10px;
}



#filters button:hover {
    background-color: #0065fc;
    color: white;
}

/* -------------- info -----------*/

#info {
    margin: 10px 0 20px 0;
}

#info i { /* pb: l'icone i n'est pas centrée dans le cercle */
    color:#0065fc;
    border:solid 1px #d9d9d9;
    padding: 5px;
    font-size: 0.7em;
    border-radius: 50%;
    margin-right: 10px;
    width:10px;
    height: 10px;
    text-align: center;
}

/* ----------------- CARDS LES PLUS POPULAIRES -------------- */

#popular {
    background-color:#f2f2f2; 
    display: flex; /*est-ce utile? */
    flex-direction: column;
}

#popular_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;

}

.fa-chart-line {
    font-weight: 800;
    font-size: 1.3em;
    color: black;
}

#popular .hotel_details  {
    margin: 0 20px 5px 20px;
}

.stars {
    color: #0065fc;
    font-size: 0.7em;
}

#popular .stars {
    margin-top: 40px;
}

.stars .last { /*  dernière(s) étoile(s)*/
    color:#f2f2f2;
}

h3 {
    font-size: 0.9em;
    font-weight: 800;
    margin-top: 10px;
}

h4 {
    font-size: 0.8em;
    font-weight: 600;
}

#popular_cards .card {
    display: flex;
    padding: 5px;
    height: 140px;
}

#popular_cards {
    padding: 0 30px 30px 30px;

}

.card {
    background-color: white;
    margin: 10px 15px 10px 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px #e4e4e4;
    
}



#popular img { 
    width: 40%; 
    height: 140px;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

/*----------------------------- hebergement Marseille -----------------*/



#housing h1,  #popular_title, #activities h1 {
    padding: 30px 20px 20px 30px;
} 

#housing h2 {
    padding-left: 30px;
}

#housing img { 
    height: 115px; /* fonctionne mais en responsive après image trop large par rapport à taille...*/ 
    object-fit: cover;
    border-radius: 15px 15px 0 0px;
}

#housing .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  
}

#housing .hotel_details  {
    margin: 5px ;
}

#housing h4, #housing h3, #housing .stars { 
    margin: 5px;
}




/* --------- ACT -------*/

#activities {
    padding-bottom: 50px;
}

#activities h3 {
    padding: 5px 0 15px 15px; /*--- a changer que ce soit égal...--*/
}

@media all and (max-width:700px){ /* mobile ajuster à 700px car activités probleme placement*/

    #search, #housing, #activities, footer{
        margin: 0px 20px 0 20px; 
    }

   
    #button_desktop {
        display: none;
    }

    #buttons_all button {
        margin: 5px;
    }
    
    #info {
        display: flex;
        align-items: baseline;
    }

    .card {
        width: 335px;
    }
    #housing .card {
        width: 335px;
        
    }
    #popular_cards, #housing_cards, #activities_cards {
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #activities_cards .card {
        height: 190px;
        margin-bottom: 30px;
    }
    
    #activities img {
        border-radius: 15px 15px 0 0px;
        height: 135px;
        width: 100%;
        object-fit: cover;
    }

}

@media all and (min-width: 701px) and (max-width: 1180px) { /* tablette*/
    
    #search, #housing, #activities {
        margin: 0px 30px 0 30px; 
    }
    
    #subheading {
        margin-top: 20px;
    }

    #button_mobile {
        display: none;
    }

    #buttons_all button {
        margin: 5px;
    }
    
    #filters {
        display: flex;
        align-items:baseline;
        margin: 20px 0 20px 0;
    }

    #info {
        display: flex;
        align-items: center;
    }

    #popular_cards, #housing_cards, #activities_cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    

    #popular .card {
        width: 335px;
    }
        #housing .card {
            width: 250px;
        }


        #activities_cards .card{

            width: 300px;
        }

            #activities_cards img{
                border-radius: 15px 15px 0 0px;
                width: 100%;
                object-fit: cover;
            }
        #vieux_port, #calanques { /* se repete dans desktop*/
            height: 445px;
         
        }
    
        #vieux_port img, #calanques img {
            height: 390px;  
        }


        #pomegues {
            height: 235px;
            
        }

        #pomegues img{
            height: 180px;
            
        }

        #frioul {
            height: 165px;
        }

        #frioul img{
            height: 110px;
           
        }

        #notre_dame {
            height:195px;
        }

        #notre_dame img{
            height: 140px;
        }

        #longchamp {
            height: 210px;
        }

        #longchamp img {
            height: 150px;
        }

        #pomegues_frioul, #notre_dame_longchamp {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        
        }
        
}

@media all and (min-width: 1181px) { /* desktop*/

    #search, #activities, footer {
        margin: 0px 50px 0 50px; 
    }


    #subheading {
        margin-top: 20px;
    }


    #container_housing {
        margin: 0 50px 0 50px;
    }

  

    #button_mobile {
        display: none;
    }

    #buttons_all button {
        margin: 15px;
    }
    
    #filters {
        display: flex;
        align-items:baseline;
        margin: 20px 0 20px 0;
    }

    #info {
        display: flex;
        align-items: center;
    }
   
   
    #container_housing { /* met hebergement marseille a coté de populaires */
        display: flex;   
    }

    #housing_cards, #popular_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
    }

    #activities_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
    }

    #housing {
        background-color: #f2f2f2;
        border-radius: 15px;
        margin-right: 40px;

       
    }

    #container_housing > #housing { /*change ordre*/
        order: -1;
    }

    #popular {
        width: 35%;
        border-radius: 15px;
    }


    #popular .card { /* BUG de 992 à 1200px les élements de la carte sorte du cadre */
        width: 340px;
    }

    #housing .card {
        width: 250px;
        
    }

    #activities_cards .card {
        width: 300px;
        margin: 0;
    }
    
    #pomegues_frioul, #notre_dame_longchamp {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    }


    #activities_cards img{
        border-radius: 15px 15px 0 0px;
        width: 100%;
        object-fit: cover;
    }

    #vieux_port, #calanques { /* se repete dans tablette*/
        height: 445px;
     
    }

    #vieux_port img, #calanques img {
        height: 390px;  
    }


    #pomegues {
        height: 235px;
        
    }

    #pomegues img{
        height: 180px;
        
    }

    #frioul {
        height: 165px;
    }

    #frioul img{
        height: 110px;
       
    }

    #notre_dame {
        height:195px;
    }

    #notre_dame img{
        height: 140px;
    }

    #longchamp {
        height: 210px;
    }

    #longchamp img {
        height: 150px;
    }


}