.border { 
    border: 3px solid black;
    margin: 2px;
} 

.red {
    border-color: red;
}

.blue {
    border-color: blue;
}

.orange {
    border-color: orange;
}

.purple {
    border-color: purple;
} 

body{
    margin: 0;
    font-family: "Raleway", sans-serif;
    padding: 0px 30px 0 30px;
}

#search div {
    margin: 0 0 15px 0;
}

#subheading h1 {
    font-weight: 800;
    font-size: 1.3em;
    margin: 10px 0 10px 0;
}

#search p {
    font-weight: 500;
    font-size: 0.9em;
}

/* -----------------  champ de recherche --------------------- */

#champ {
    display: flex;
    align-items: center; 
}

#champ button {
    background-color: #0065fc;
    padding: 18px;
    border-radius: 15px;
    border: none;
    position: relative;
    top: 0px; left: -15px;
}

.fa-search { 
    color: white;
    font-size: 1.2em;
}

.fa-map-marker-alt {
    background-color: #f2f2f2;
    padding: 18px; 
    border-radius: 15px 0 0 15px;
}

#champ input {
    font-weight: 800;
    font-size: 1.2em;
    font-family: "Raleway", sans-serif;
    padding: 15px 0 15px 15px;
    border: solid #f2f2f2 thin;
    margin: 0;  
    width: 220px;
}


/* -------------- Filters ----------------- */

#filters h2 {
    font-size: 1.1em;
    font-weight: 700;
}

#buttons{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#filters button {
    font-family: "Raleway", sans-serif;
    font-weight: 900; 
    padding: 15px 15px 15px 50px;
    background-color: white;
    border: solid 2px #d9d9d9;
    border-radius: 30px;
}

#filters i { /* pb: les icones ne sont pas centré dans leur BG bleu clair */
    color: #0065fc;
    background-color: #deebff ;
    padding: 15px;
    border-radius: 30px;
    position: relative;
    top:0; left: 45px;
    height: 20px;
    width: 20px;
}

.button_filter { /*pb= les div ont une margin left... */
    display: flex;
   /* justify-content: space-between;*/
}

#filters button:hover {
    background-color: #0065fc;
    color: white;
}

#info i {
    color:#0065fc;
    border:solid 1px #d9d9d9;
    font-size: 0.7em;
    border-radius: 30px;
    padding: 10px;
    height: 5px;
    width: 5px;
    margin-right: 10px;
}

#info {
    display: flex;
    align-items: center;
}



/*  images sections main  */
main img {
    width: 100%; /* test pour que ça ne gene pas le responsive, à changer*/
  height: 100px; /*exemple à changer*/
}
.cover { /* à modifier plus tard*/
    object-fit: none;
}

@media (max-width:600px){


    
}
