#popular_title, #housing h1, #activities h1{
    padding-bottom: 25px;
}

/*----------------- SEARCH CHAMP DE RECHERCHE global -----------------*/

#champ {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}

#champ button {
    background-color: #0065fc;
    padding: 18px;
    border: none;
    position: relative;
    top: 0px; left: -10px;
    color: white;
}

#button_mobile {
    border-radius: 15px;
}

#button_desktop {
    border-radius: 0 15px 15px 0;
    font-weight: 600;
    font-size: 1.0em;
}

.fa-search { 
    color: white;
    font-size: 1.3em;
}

.fa-map-marker-alt {
    background-color: #f2f2f2;
    padding: 18px;
    border-radius: 15px 0 0 15px;
    font-size: 1.2em;
    position: relative;
}

#location {
    font-weight: 800;
    font-size: 1.2em;
    font-family: "Raleway", sans-serif;
    border: solid #f2f2f2 thin;
    margin: 0;  
    width: 100%;
    height: 50px;
    padding-left: 20px;
     
}

::placeholder{
    opacity: 1;
    color: black;
}

/*----------------- SEARCH FILTERS global -----------------*/

#buttons_filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#buttons_filters button {
    background-color: white;
    border: solid 2px #d9d9d9;
    border-radius: 30px ;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter_title {
    font-size: 1.3em;
    font-weight: 700;
    padding-right: 15px;
}
#filters i { 
    color: #0065fc;
    background-color: #deebff ;
    height: 45px;
    width: 45px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: -10px;
    font-size: 1.4em;
}

#filters button:hover {
    background-color: #0065fc;
    color: white;
}

/*----------------- SEARCH INFO global -----------------*/

#info {
    margin: 10px 0 20px 0;
}

#info i { 
    color:#0065fc;
    border:solid 1px #d9d9d9;
    padding: 5px;
    font-size: 0.7em;
    border-radius: 50%;
    margin-right: 10px;
    width:10px;
    height: 10px;
    text-align: center;
}

/*----------------- HOUSING global -----------------*/

.stars {
    color: #0065fc;
    font-size: 0.8em;
}

.stars .last {
    color:#f2f2f2;
}

h4 {
    font-size: 0.8em;
    font-weight: 600;
}

.card {
    background-color: white;
    margin: 10px 5px 10px 5px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 5px #e4e4e4;
}

/*----------------- POPULAR global -----------------*/

#popular {
    background-color:#f2f2f2; 
    display: flex; 
    flex-direction: column;
}

#popular_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.fa-chart-line {
    font-weight: 800;
    font-size: 1.5em;
    color: black;
    padding-top: 40px;
}

#popular_cards .card {
    display: flex;
    padding: 5px;
    height: 140px;
}

#popular img { 
    width: 130px; 
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

#popular .hotel_details  {
    padding: 5px 20px 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#popular h3, h4{
    margin: 0;
}

#popular .stars {
    padding-top: 30px;
}

/*----------------- HOUSING MARSEILLE global -----------------*/

#housing img { 
    height: 115px; 
    object-fit: cover;
    border-radius: 15px 15px 0 0px;
}

#housing .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

#housing .hotel_details  {
    margin: 5px;
}

#housing h4, #housing h3, #housing .stars { 
    margin: 7px;
}


/*----------------- ACTIVITIES global -----------------*/

#activities {
    padding-bottom: 50px;
}

#activities h3 {
    padding: 15px;
    margin:0; 
}


@media all and (max-width:750px){ /* mobile */ 

   #signUp, #search, #popular, #housing, #activities {
        padding:  0 5% 0 5%;
    }
   
    /*------------------- MOBILE SEARCH -------------------*/

    #button_desktop {
        display: none;
    }

    #buttons_filters button {
        margin: 5px 5px 5px 0px;
    }
    
    #info {
        display: flex;
        align-items: baseline;
    }

    /*------------------- MOBILE CARDS -------------------*/

    .card {
        width: 90%;
    }


    #popular_cards, #housing_cards, #activities_cards {
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    /*------------------- MOBILE ACTIVITIES FORMATS -------------------*/

    #activities_cards .card {
        height: 190px;
        margin-bottom: 30px;
    }
    
    #activities img {
        border-radius: 15px 15px 0 0px;
        height: 135px;
        width: 100%;
        object-fit: cover;
    }

}


@media all and (min-width: 750px) and (max-width: 1390px) { /* tablette*/
    

    #search, #housing, #activities{
        margin: 0px 30px 0 30px; 
    }

    #popular{
        padding: 0 30px 30px 30px;
    }

    /*------------------- TABLETTE SEARCH -------------------*/
    
    #button_mobile {
        display: none;
    }

    #buttons_filters button {
        margin: 5px;
    }
    
    #filters {
        display: flex;
        align-items:baseline;
    }

    #info {
        display: flex;
        align-items: center;
    }

    /*------------------- TABLETTE HOUSING -------------------*/

    #popular_cards, #housing_cards, #activities_cards{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #popular .card, #housing .card {
        width: 330px;   
    }
   
    /*------------------- TABLETTE ACTIVITIES FORMATS -------------------*/

    #activities_cards .card {
        height: 190px;
        width: 43%;
        margin-bottom: 30px;
    }
    
    #activities img {
        border-radius: 15px 15px 0 0;
        height: 135px;
        width: 100%;
        object-fit: cover;
    }
        
}


@media all and (min-width: 1391px) { /* desktop*/
 
    /*------------------- DESKTOP SEARCH -------------------*/

    #button_mobile {
        display: none;
    }

    #buttons_filters button {
        margin: 15px;
    }
    
    #filters {
        display: flex;
        align-items:baseline;
    }

    #info {
        display: flex;
        align-items: center;
    }
   
    /*------------------- DESKTOP HOUSING -------------------*/

    #container_housing { 
        display: flex; 
        justify-content: space-between;  
    }

    #popular, #housing {
        padding-bottom:15px;
    }

    /*------------------- DESKTOP HOUSING MARSEILLE -------------------*/

    #housing {
        background-color: #f2f2f2;
        border-radius: 15px;
        margin-right: 2.9%;
        width: 70%;
    }

    #housing_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
    }

    #housing .card {
        width: 250px;
    }

    #housing h1 {
        padding-left: 35px;
    }

    #housing h2 {
        padding-left: 40px;
    }

    #container_housing > #housing {
        order: -1;
    }

    /*------------------- DESKTOP POPULAR -------------------*/

    #popular {
        width: 33%;
        border-radius: 15px;
    }

    #popular_cards{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #popular .card { 
        width: 345px;
    }

    #popular img { 
        
        object-fit: cover;
        border-radius: 15px 0 0 15px;
    }

    #popular h3{
        padding-right: 0;
    }
    

    #popular_title{
        padding: 0 35px 25px 35px;
        
    }

    /*------------------- DESKTOP ACTIVITES FORMATS -------------------*/

    #activities_cards .card {
        width: 300px;
        margin: 0;
    }

    #activities h1 {
        padding: 40px 20px 35px 0;
    }

    #activities_cards img{
        border-radius: 15px 15px 0 0;
        width: 100%;
        object-fit: cover;
    }

    #vieux_port, #calanques {
        height: 445px;
    }

    #vieux_port img, #calanques img {
        height: 390px;  
    }

    #pomegues {
        height: 235px; 
    }

    #pomegues img{
        height: 180px;
    }

    #frioul {
        height: 165px;
    }

    #frioul img{
        height: 110px;
    }

    #notre_dame {
        height:195px;
    }

    #notre_dame img{
        height: 140px;
    }

    #longchamp {
        height: 210px;
    }

    #longchamp img {
        height: 155px;
    }

    /*------------------- DESKTOP GRID ACTIVITES -------------------*/

    #activities_cards{
       display: grid;
       grid-template-columns: repeat(4, 300px);
       grid-template-rows: repeat(2, 223px);
       grid-template-areas: "a b d e" "a c d f";
       grid-gap: 0 45px;
   }
    
    #vieux_port{
       grid-area : a;
    }

    #pomegues{
       grid-area: b;  
    }
   
    #frioul{
       grid-area: c;
       align-self: end;
    }

    #calanques {
       grid-area: d; 
    }

    #notre_dame {
       grid-area: e;  
    }

    #longchamp {
       grid-area: f;
       align-self: end;
    }

}